<li>
    <%= comment.body %> -
    <small>Submitted <%= time_ago_in_words(comment.created_at) %> ago</small>

    <%= form_for [comment, Comment.new] do |f| %>
    <%= f.text_area :body, placeholder: "Reply" %> <br/>
    <%= f.submit "Reply" %>

    <% if (current_user && (current_user.id == @post.user_id)) %>
    <%= link_to 'Edit', edit_post_comment_path %>
    <%= link_to 'Destroy', method: :delete %>
    <% end %>


    <% end %>

    <ul>
        <%= render partial: 'comments/comment', collection: comment.comments %>
    <ul>
</li>