<h1>Users#show</h1>
<p>
 <strong>Name:</strong>
<%= @user.name%>
</p>   
<p>
 <strong>Created:</strong>
<%= @user.created_at%>
</p>  
<p>
 <%# <strong>Votes:</strong> %>
<%# <%= @xxx.votes%> %>
</p>
<p>
 <%# <strong>Last Post:</strong> %>
<%# <%= @yy.post%> %>
</p>  
<%= render 'form' %>
