<main role="main">
  <div class="container">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
      <h6 class="border-bottom border-info pb-2 mb-0">Posts for <%= @current_user%> </h6>
      <% posts.sort_by(&:created_at).each do |post| %>
        <div class="media text-muted pt-3">
          <div class="d-flex justify-content-center align-items-center flex-column align-center ml-3 mr-3">
            <%# <% if @current_user && (@current_user.id == post.user_id || current_user.id == 1) %>
            <% if true %>
            <%= link_to '<i class="fas fa-sort-up"></i>'.html_safe, post, method: :delete, data: {confirm: 'Are you sure?'} %>
            <%= post.score %>

            <%= form_with(url: upvotes_path, local: true) do |f| %>
              <%= f.hidden_field :user_id, value: 1 %>
              <%= f.hidden_field :post_id, value: post.id %>
              <%= f.submit ''.html_safe, class: 'fas fa-sort-up' %>
            <% end %>
            <% elsif @current_user  %>
            <i class="fas fa-sort-up text-info"></i>
            <span class='text-info'>26</span>
            <% end %>
          </div>
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-info">
            <strong class="d-block text-gray-dark"><%= link_to post.title, post %></strong>
            <%= post.description %>
            <br>
            <% if (Time.now - post.updated_at).to_i < 60 %>
              <small class="text-muted text-center">Posted <%= (Time.now - post.created_at).to_i %> sec. ago by @<%= User.find(post.user_id).username %>
              </small>
            <% elsif (Time.now - post.updated_at).to_i < 3600 %>
              <small class="text-muted text-center">Posted <%= (Time.now - post.created_at).to_i / 60 %> min.
                ago by @<%= User.find(post.user_id).username %>
              </small>
            <% elsif (Time.now - post.updated_at).to_i < (3600 * 24) %>
              <small class="text-muted text-center">Posted <%= (Time.now - post.created_at).to_i / 3600 %> hr.
                ago by @<%= User.find(post.user_id).username %>
              </small>
            <% else %>
              <small class="text-muted text-center">Last
                updated <%= (Time.now - post.updated_at).to_i / (3600 * 24) %> day(s) ago by @<%= User.find(post.user_id).username %>
              </small>
            <% end %>
                      <div class="d-flex justify-content-center align-items-center flex-column align-center ml-3">
            <%# <% if current_user && (current_user.id == post.user_id || current_user.id == 1) %>
            <% if true %>
              <%= link_to '<i class="fas fa-trash"></i>'.html_safe, post, method: :delete, data: {confirm: 'Are you sure?'} %>
              <br>
              <%= link_to '<i class="fas fa-pen"></i>'.html_safe, edit_post_path(post) %>
            <% end %>
          </div>
            </p>

        </div>
      <% end %>
    </div>
  </div>
</main>
