<main role="main">
  <div class="container">
    <div class="my-3 p-3 bg-white">
      <h6 class="border-bottom border-info pb-2 mb-0">Trending Posts</h6>
      <% posts.sort_by(&:score).reverse.each do |post| %>
        <div class="media text-muted pt-3">
          <div class="d-flex justify-content-center align-items-center flex-column align-center text-center mx-3">
            <% if current_user && Upvote.where('user_id=?', current_user.id).where('post_id=?', post.id).length == 0 %>
              <%= form_with(url: upvotes_path, local: true) do |f| %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :post_id, value: post.id %>
                <%= button_tag type: 'submit', class: "fake-button", id: "register-button" do %>
                  &nbsp;<i class="fas fa-sort-up" aria-hidden="true"></i>
                <% end %>
                <br>
                <span class='text-gray-dark'><%= post.score %></span>
              <% end %>
            <% elsif current_user %>
              <%= link_to '<i class="fas fa-sort-up text-info"></i>'.html_safe, upvote_path(Upvote.where('user_id=?', current_user.id).where('post_id=?', post.id)[0]), method: :delete %>
              <span class='text-info'><%= post.score %></span>
            <% else %>
              <span class='text-gray-dark mt-3'><%= post.score %></span>
            <% end %>
          </div>
          <p class="media-body mb-0 small lh-125 border-bottom border-info">
            <strong class="d-block text-gray-dark"><%= link_to post.title, post %></strong>
            <%= post.description %>
            <br>
            <small class="text-muted text-center">Posted
              <% if (Time.now - post.updated_at).to_i < 60 %>
                <%= (Time.now - post.created_at).to_i %> sec. ago
              <% elsif (Time.now - post.updated_at).to_i < 3600 %>
                <%= (Time.now - post.created_at).to_i / 60 %> min. ago
              <% elsif (Time.now - post.updated_at).to_i < (3600 * 48) %>
                <%= (Time.now - post.created_at).to_i / 3600 %> hr. ago
              <% else %>
                <%= (Time.now - post.updated_at).to_i / (3600 * 24) %> days ago
              <% end %>
              by <%= link_to "@" + User.find(post.user_id).username, User.find(post.user_id), :style => 'font-size:.75rem' %>
            </small>
          <div class="d-flex justify-content-center align-items-center flex-column align-center ml-3">
            <% if current_user && (current_user.id == post.user_id || current_user.id == 1) %>
              <%= link_to '<i class="fas fa-trash text-danger"></i>'.html_safe, post, method: :delete, data: {confirm: 'Are you sure?'} %>
              <br>
              <%= link_to '<i class="fas fa-pen"></i>'.html_safe, edit_post_path(post) %>
            <% end %>
          </div>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</main>
