<%= form_with(model: post, local: true, :html => {:class => 'form-signin col-md-6 offset-md-3'}) do |form| %>
  <% if post.errors.any? %>
    <div class="alert alert-danger">
      The form contains <%= pluralize(@post.errors.count, "error") %>.
    </div>
      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, :class => "form-control", :placeholder => 'ex. Space X' %>
  </div>

  <div class="form-group">
    <%= form.label :link %>
    <%= form.text_field :link, :class => "form-control", :placeholder => 'ex. https://www.spacex.com/' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.hidden_field :user_id, :value => current_user.id %>
  </div>


  <div class="actions">
    <%= form.submit :class => "btn btn-lg btn-info btn-block" %>
  </div>

<% end %>
