<nav class="d-flex justify-content-between navbar navbar-expand-md fixed-top navbar-dark bg-info mb-4">
  <%= link_to 'HashRocket', posts_path, :class => 'navbar-brand' %>
  <div class="form-inline mt-md-0 btn-group">
    <% if !current_user %>
      <%= link_to "Login", new_session_path, :class => 'btn btn-outline-light' %>
      <%= link_to "Sign Up", new_user_path, :class => 'btn btn-outline-light' %>
    <% else %>
      <%= link_to 'New Post', new_post_path, :class => 'btn text-info btn-light' %>
      <%= link_to "Log Out", session_path, method: :delete, :class => 'btn btn-outline-light' %>
      <%= link_to "@" + current_user.username, current_user, :class => 'btn btn-outline-light' %>
    <% end %>
  </div>
</nav>

<% if notice %>
  <p class="alert alert-success mt-5" role="alert"><%= notice %></p>
<% end %>

<div style='margin-top:75px'>
  <div class="media text-muted pt-3">
    <div class="d-flex justify-content-center align-items-center flex-column align-center text-center mx-3">
      <% if current_user && Upvote.where('user_id=?', current_user.id).where('post_id=?', @post.id).length == 0 %>
        <%= form_with(url: upvotes_path, local: true) do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :post_id, value: @post.id %>
          <%= button_tag type: 'submit', class: "fake-button", id: "register-button" do %>
            &nbsp;<i class="fas fa-sort-up" aria-hidden="true"></i>
          <% end %>
          <br>
          <span class='text-gray-dark'><%= @post.score %></span>
        <% end %>
      <% elsif current_user %>
        <%= link_to '<i class="fas fa-sort-up text-info"></i>'.html_safe, upvote_path(Upvote.where('user_id=?', current_user.id).where('post_id=?', @post.id)[0]), method: :delete %>
        <span class='text-info'><%= @post.score %></span>
      <% else %>
        <span class='text-gray-dark mt-3'><%= @post.score %></span>
      <% end %>
    </div>
    <p class="media-body mb-0 small lh-125 border-bottom border-info">
      <strong class="d-block text-gray-dark"><%= link_to @post.title, @post %></strong>
      <%= @post.description %>
      <br>
      <small class="text-muted text-center">Posted
        <% if (Time.now - @post.updated_at).to_i < 60 %>
          <%= (Time.now - @post.created_at).to_i %> sec. ago
        <% elsif (Time.now - @post.updated_at).to_i < 3600 %>
          <%= (Time.now - @post.created_at).to_i / 60 %> min. ago
        <% elsif (Time.now - @post.updated_at).to_i < (3600 * 48) %>
          <%= (Time.now - @post.created_at).to_i / 3600 %> hr. ago
        <% else %>
          <%= (Time.now - @post.updated_at).to_i / (3600 * 24) %> days ago
        <% end %>
        by <%= link_to "@" + User.find(@post.user_id).username, User.find(@post.user_id), :style => 'font-size:.75rem' %>
      </small>
    <div class="d-flex justify-content-center align-items-center flex-column align-center ml-3">
      <% if current_user && (current_user.id == @post.user_id || current_user.id == 1) %>
        <%= link_to '<i class="fas fa-trash text-danger"></i>'.html_safe, @post, method: :delete, data: {confirm: 'Are you sure?'} %>
        <br>
        <%= link_to '<i class="fas fa-pen"></i>'.html_safe, edit_post_path(@post) %>
      <% end %>
    </div>
    </p>
  </div>
</div>

<%= link_to 'Create a Comment', new_comment_path %>


<%= form_with(url: comments_path, local: true) do |form| %>
  
  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, :value => current_user.id %>
  </div>

    <div class="field">
    <%= form.hidden_field :post_id, :value => @post.id %>
  </div>

  <div class="actions">
    <%= form.submit :class =>  "btn btn-primary" %>
  </div>
<% end %>

<br>

<%= link_to 'Back', posts_path %>

<% if (current_user && (current_user.id == @post.user_id)) %>

  <%= link_to 'Edit', edit_post_path(@post) %> |

<% end %>

<h2>Comments</h2>



  <% @post.comments.sort_by(&:created_at).each do |comment| %>
  <div class="media text-muted pl-3 ml-3 pt-3">
    <div class='ml-3 pl-3'></div>
    <p class="media-body ml-3 mb-0 small lh-125 border-bottom border-info">
      <strong class="d-block text-gray-dark"><%= link_to "@" + User.find(comment.user_id).username, User.find(comment.user_id)%></strong>
      <%= comment.comment %>
      <br>
      <small class="text-muted text-center">Posted
        <% if (Time.now - comment.updated_at).to_i < 60 %>
          <%= (Time.now - comment.created_at).to_i %> sec. ago
        <% elsif (Time.now - comment.updated_at).to_i < 3600 %>
          <%= (Time.now - comment.created_at).to_i / 60 %> min. ago
        <% elsif (Time.now - comment.updated_at).to_i < (3600 * 48) %>
          <%= (Time.now - comment.created_at).to_i / 3600 %> hr. ago
        <% else %>
          <%= (Time.now - comment.updated_at).to_i / (3600 * 24) %> days ago
        <% end %>
      </small>
    <div class="d-flex justify-content-center align-items-center flex-column align-center ml-3">
      <% if current_user && (current_user.id == @post.user_id || current_user.id == 1) %>
        <%= link_to '<i class="fas fa-trash text-danger"></i>'.html_safe, @post, method: :delete, data: {confirm: 'Are you sure?'} %>
        <br>
        <%= link_to '<i class="fas fa-pen"></i>'.html_safe, edit_post_path(@post) %>
      <% end %>
    </div>
    </p>
  </div>
<% end %>



